.profile-container {
  position: relative;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  font-family: "PT Sans", sans-serif;
}

.header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.signout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  font-size: 14px;
  transition: transform 0.3s, font-size 0.3s;
  cursor: pointer;
}

.signout-button:hover {
  transform: scale(1.1);
  font-size: 16px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #F5F5F5;
}

.user-icon {
  font-size: 30px;
  margin-right: 10px;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  width: 80px;
  color: #333333;
}

.info-value {
  color: #555555;
}

.navbar1 {
  background-color: #333;
  padding: 5px;
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-list1 {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item1 {
  margin-right: 20px;
}

.nav-item1:last-child {
  margin-right: 0;
}

.nav-item1 a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav-item1 a:hover {
  color: #000;
}


.signout-button1 {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.signout-button1 {
  --c:  #FF0800; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.signout-button1:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.signout-button1:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}
